@use './_colors.scss';

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 60px;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
}

.hire-me-button {
    gap: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    background-color: var(--primary);
    color: white;
}

.copy-email-button {
    gap: 10px;
    background-color: inherit;
    border: 2px solid var(--primary);
}

.basic-button,
.custom-button {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    color: white;
    align-self: center;

    padding-left: 30px;
    padding-right: 30px;

    background: var(--primary-light);
    background: linear-gradient(25deg, var(--primary-light) 0%, var(--primary) 56%);
}

.premium-button {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    background: var(--primary2-lighter);
    background: linear-gradient(5deg, var(--primary2-lighter) 0%, var(--primary2-darker) 75%);

    padding-left: 30px;
    padding-right: 30px;

    color: white;
    align-self: center;
}

.portfolio-button {
    display: flex;

    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    background-color: var(--primary);
    color: white;
    padding-left: 30px;
    padding-right: 30px;

    align-self: center;
    justify-self: center;
    margin-top: 30px;
}

.form-button {
    background-color: inherit;
    border: 2px solid var(--primary);
    padding-left: 30px;
    padding-right: 30px;
}

.footer-form-button {
    display: flex;

    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    background-color: var(--primary2);
    color: white;
    padding-left: 30px;
    padding-right: 30px;

    align-self: center;
    justify-self: center;
}