:root{
    /* colors */
    --primary: #003049;
    --primary-extralight: #668FB3;
    --primary-light: #557799;
    --primary-lighter: #B3CCE0;
    --primary-dark: #00283A;
    --primary-darker: #001F2B;

    --primary2: #1B4332;
    --primary2-light: #2C5F47;
    --primary2-lighter: #86C198;
    --primary2-extralight: #DDFBE5;
    --primary2-dark: #12392A;
    --primary2-darker: #0F2B1F;

    --gray: #3d3d3dec;
    --gray-light: #adb5bd;
    --gray-lighter: #dee2e6;
    --gray-dark: #495057;
    --gray-darker: #343a40;
}
