@use './_colors.scss';

#hero {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 500px;
    grid-template-rows: 1fr;
    padding-top: 0px;
}

// Left
.hero-text-container p {
    margin-top: 15px;
    max-width: 43ch;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 60px;
}

// Right
.hero-image-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary2-extralight);
    border-radius: 12px;

    padding: 5px 10px;
    margin-top: 30px;
}

.hero-status-container .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary2-lighter);

    margin-right: 10px;
}

.hero-image-content p {
    color: var(--primary2-light);
    font-weight: 500;
}

// h1 Colors
h1 span:first-of-type {
    color: var(--primary2-darker);
    background: linear-gradient(30deg, var(--primary2-darker) 10%, var(--primary2-lighter) 100%);
    background-clip: text;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 span:nth-of-type(2) {
    background: var(--primary-light);
    background: linear-gradient(30deg, var(--primary-light) 0%, var(--primary-darker) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
